<div class="container">
    <form [formGroup]="forma" (ngSubmit)="aceptar()">
      <div class="row">
        <div class="col-md-12 mb-5">
          <h2>Alta Pelicula</h2>
        </div>
      </div>
      <div class="row formulario">
        <div class="col-md-6 mb-3">
          <label for="nombre" class="form-label">Nombre</label>
          <input type="text" class="form-control" id="nombre" placeholder="Ingrese nombre" formControlName="nombre">
          <small class="invalid" 
            *ngIf="forma.controls.nombre.errors?.required &&
            forma.controls.nombre.touched">
            El nombre es requerido
          </small>
          <small class="invalid" 
          *ngIf="forma.controls.nombre.errors?.containsSpaces &&
          forma.controls.nombre.touched">
          El nombre no puede contener espacios
        </small>
        </div>
        <div class="col-md-6 mb-3">
          <label for="tipo" class="form-label">tipo</label>
          <input type="text" class="form-control" id="tipo" placeholder="Ingrese tipo" formControlName="tipo"> 
          <small class="invalid"
            *ngIf="forma.controls.tipo.errors?.required &&
            forma.controls.tipo.touched">
            El tipo es requerido
          </small>
        </div>
        <div class="col-md-6 mb-3">
          <label for="cantidadPublico" class="form-label">Cantidad de Publico</label>
          <input type="number" class="form-control" id="cantidadPublico" placeholder="Ingrese cantidad de publico" formControlName="cantidadPublico">
          <small class="invalid"
            *ngIf="forma.controls.cantidadPublico.errors?.required &&
            forma.controls.cantidadPublico.touched">
            La cantidadPublico es requerida
          </small>
          <small class="invalid"
            *ngIf="forma.controls.cantidadPublico.errors?.min || 
            forma.controls.cantidadPublico.errors?.max &&
            forma.controls.cantidadPublico.touched">
            La cantidadPublico debe ser de 0 a 20000000
          </small>
        </div>
        <div class="col-md-6 mb-3">
        <label for="fechaEstreno" class="form-label">Fecha de Estreno</label>
        <input type="text" class="form-control" id="fechaEstreno" placeholder="Ingrese Fecha de Estreno" formControlName="fechaEstreno"> 
        <small class="invalid"
            *ngIf="forma.controls.fechaEstreno.errors?.required &&
            forma.controls.fechaEstreno.touched">
            La Fecha de Estreno es requerido
        </small>
        </div>
        <div class="col-md-6 mb-3">
          <label for="fotoDePelicula" class="form-label">Foto</label>
          <input type="text"  class="form-control" id="fotoDePelicula" placeholder="Ingrese URL" formControlName="fotoDePelicula">
          <small class="invalid"
            *ngIf="forma.controls.cantidadPublico.errors?.required">
            La Foto es requerida
          </small>
        </div>
        <div class="col-md-6 mb-3">
            <label for="dni" class="form-label">Actor</label>
            <input type="text"  class="form-control" [(ngModel)]="actor.nombre + ' ' + actor.apellido" id="actor" placeholder="Seleccione actor" formControlName="actor" readonly>
            <small class="invalid"
              *ngIf="forma.controls.actor.errors?.required">
              El actor es requerido
            </small>
          </div>
      </div>
      <div class="row">
        <div class="col-md-12 d-grid gap-2">
          <button type="submit" 
          class="btn btn-primary btn-block" 
          [disabled]="forma.invalid">
          Aceptar
        </button>
        </div>
      </div>
    </form>
    <app-actor-listado (actorEmitido)="actorSeleccionado($event)"></app-actor-listado>
</div>